<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>DetectLanguage</servlet-name>
        <servlet-class>com.xapi.language.DetectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DetectLanguage</servlet-name>
        <url-pattern>/detectLanguage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TranslateLanguage</servlet-name>
        <servlet-class>com.xapi.language.TranslateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TranslateLanguage</servlet-name>
        <url-pattern>/translate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Languages</servlet-name>
        <servlet-class>com.xapi.language.LanguagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Languages</servlet-name>
        <url-pattern>/languages</url-pattern>
    </servlet-mapping>

</web-app>
